* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: calc(100vw / 7.5);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: 'PingFang_Medium';
  font-size: 0.3rem;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 750px) {
  body {
    width: 750px;
    margin: 0 auto;
  }
}

.chess {
  width: 1.45rem;
  height: 1.58rem;
  background-size: 1.45rem 1.58rem;
  background-image: url('../img/sannuo.png');
  position: absolute;
  bottom: 2.8rem;
  left: 4.8rem;
  z-index: 3;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

.background {
  width: 100%;
  height: 33rem;
  background-image: url('../img/bg.png');
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

.group {
  position: absolute;
  width: 4rem;
  height: 3rem;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

.group .box {
  background-position: center center;
  background-repeat: no-repeat;
  width: 4rem;
  height: 3rem;
  z-index: 1;
  position: absolute;
  -webkit-transform: translateY(-11.5rem);
  transform: translateY(-11.5rem);
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

.g1 {
  left: 3.5rem;
  bottom: 1rem;
}

.g1 .box {
  background-image: url('../img/c1.png');
  background-size: 2.73rem 1.97rem;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.g2 {
  left: .3rem;
  bottom: 3rem;
}

.g2 .box {
  background-image: url('../img/c2.png');
  background-size: 3.28rem 2.34rem;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.g3 {
  left: 3.5rem;
  bottom: 5rem;
}

.g3 .box {
  background-image: url('../img/c3.png');
  background-size: 2.8rem 2.07rem;
}

.g4 {
  left: .3rem;
  bottom: 7rem;
}

.g4 .box {
  background-image: url('../img/c4.png');
  background-size: 3.35rem 2.06rem;
}

.g5 {
  left: 3.5rem;
  bottom: 9rem;
}

.g5 .box {
  background-image: url('../img/c5.png');
  background-size: 3.72rem 2.39rem;
}

.g6 {
  left: .3rem;
  bottom: 11rem;
}

.g6 .box {
  background-image: url('../img/c6.png');
  background-size: 2.81rem 2.08rem;
}

.g7 {
  left: 3.5rem;
  bottom: 13rem;
}

.g7 .box {
  background-image: url('../img/c7.png');
  background-size: 3.31rem 2.35rem;
}

.g8 {
  left: .3rem;
  bottom: 15rem;
}

.g8 .box {
  background-image: url('../img/c8.png');
  background-size: 2.81rem 2.09rem;
}

.g9 {
  left: 3.5rem;
  bottom: 17rem;
}

.g9 .box {
  background-image: url('../img/c9.png');
  background-size: 2.79rem 2.07rem;
}

.box_in {
  -webkit-animation: box_in .8s linear forwards;
  animation: box_in .8s linear forwards;
}

@-webkit-keyframes box_in {
  0% {
    -webkit-transform: translateY(-11.5rem);
    transform: translateY(-11.5rem);
  }
  10% {
    -webkit-transform: translateY(-10rem);
    transform: translateY(-10rem);
  }
  20% {
    -webkit-transform: translateY(-9rem);
    transform: translateY(-9rem);
  }
  30% {
    -webkit-transform: translateY(-7.5rem);
    transform: translateY(-7.5rem);
  }
  40% {
    -webkit-transform: translateY(-5.5rem);
    transform: translateY(-5.5rem);
  }
  50% {
    -webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
  }
  60% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  70% {
    -webkit-transform: translateY(-.8rem);
    transform: translateY(-.8rem);
  }
  80% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  90% {
    -webkit-transform: translateY(-.3rem);
    transform: translateY(-.3rem);
  }
  to {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
}

@keyframes box_in {
  0% {
    -webkit-transform: translateY(-10.5rem);
    transform: translateY(-10.5rem);
  }
  10% {
    -webkit-transform: translateY(-10rem);
    transform: translateY(-10rem);
  }
  20% {
    -webkit-transform: translateY(-9rem);
    transform: translateY(-9rem);
  }
  30% {
    -webkit-transform: translateY(-7.5rem);
    transform: translateY(-7.5rem);
  }
  40% {
    -webkit-transform: translateY(-5.5rem);
    transform: translateY(-5.5rem);
  }
  50% {
    -webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
  }
  60% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  70% {
    -webkit-transform: translateY(-.8rem);
    transform: translateY(-.8rem);
  }
  80% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  90% {
    -webkit-transform: translateY(-.3rem);
    transform: translateY(-.3rem);
  }
  to {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
}

.ring {
  width: 3.77rem;
  height: 1.75rem;
  background-image: url('../img/ring.png');
  background-size: 100% 100%;
  position: absolute;
  z-index: 2;
  bottom: 2.1rem;
  left: .58rem;
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
  opacity: 0;
}

.ring_in {
  -webkit-animation: ring_in .5s linear forwards;
  animation: ring_in .5s linear forwards;
}

@-webkit-keyframes ring_in {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
  50% {
    opacity: 0.4;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes ring_in {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
  50% {
    opacity: 0.4;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.score-box {
  width: 6.22rem;
  background-size: 100% 100%;
  position: fixed;
  left: 50%;
  top: 44%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 13;
  display: none;
}

.score-box.gif1 {
  height: 8.8rem;
  background-image: url('../img/1gif.png');
}

.score-box.gif2 {
  height: 8.8rem;
  background-image: url('../img/2gif.png');
}

.score-box.gif3 {
  height: 8.8rem;
  background-image: url('../img/3gif.png');
}

.score-box .scoreCon {
  width: 3.64rem;
  height: 1.74rem;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%);
}

.score-box .p0 {
  background-image: url('../img/00p.png');
}

.score-box .p1 {
  background-image: url('../img/10p.png');
}

.score-box .p2 {
  background-image: url('../img/20p.png');
}

.score-box .p3 {
  background-image: url('../img/30p.png');
}

.score-box .p4 {
  background-image: url('../img/40p.png');
}

.score-box .p5 {
  background-image: url('../img/50p.png');
}

.score-box .p6 {
  background-image: url('../img/60p.png');
}

.score-box .p7 {
  background-image: url('../img/70p.png');
}

.score-box .p8 {
  background-image: url('../img/80p.png');
}

.score-box .p9 {
  background-image: url('../img/90p.png');
}

.score-box .btn {
  width: 2.72rem;
  height: 1.18rem;
  background-size: 100% 100%;
  position: absolute;
  bottom: -0.59rem;
}

.score-box .again-btn {
  left: 0.2rem;
  background-image: url('../img/again.png');
}

.score-box .share-btn {
  right: 0.2rem;
  background-image: url('../img/share.png');
}

.score-box .anwser-btn {
  width: 3.88rem;
  height: .47rem;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0.9rem;
  background-image: url('../img/anwser.png');
  background-size: 100% 100%;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-image: url('../img/bg-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  z-index: 11;
}

.cover .start {
  width: 3.52rem;
  height: 1.07rem;
  background-image: url('../img/start-btn.png');
  background-size: 100% 100%;
  position: absolute;
  bottom: 1rem;
  left: 1.99rem;
  display: none;
}

.sound {
  position: fixed;
  width: .64rem;
  height: .64rem;
  background-size: 100% 100%;
  background-image: url(../img/sound.png);
  z-index: 15;
  right: .2rem;
  top: .2rem;
}

.sound.run {
  animation: rotate 1s linear infinite;
  -webkit-animation: rotate linear 1s infinite;
}

#soundFile {
  opacity: 0;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  50% {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  50% {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

.question {
  width: 7.11rem;
  height: 10.05rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0.1rem;
  right: 0;
  z-index: 11;
  opacity: 1;
  display: block;
}

.question.p1 {
  background-image: url(../img/p2-1.png);
}

.question.p2 {
  background-image: url(../img/p2-2.png);
}

.question.p3 {
  background-image: url(../img/p2-3.png);
}

.question.p4 {
  background-image: url(../img/p2-4.png);
}

.question.p5 {
  background-image: url(../img/p2-5.png);
}

.question.p6 {
  background-image: url(../img/p2-6.png);
}

.question.p7 {
  background-image: url(../img/p2-7.png);
}

.question.p8 {
  background-image: url(../img/p2-8.png);
}

.question.p9 {
  background-image: url(../img/p2-9.png);
}

.question .btn {
  display: block;
  width: 3.68rem;
  height: .94rem;
  background-size: 100% 100%;
  background-image: url(../img/p2-btn-lg.png);
  position: absolute;
  left: 1.52rem;
  /* -webkit-transform: translateX(-50%);
  transform: translateX(-50%); */
  color: red;
  font-size: 0.4rem;
  line-height: 0.94rem;
  font-family: "SourceHanSansCN-Regular";
}

.question.p7 .btn {
  width: 2.95rem;
  height: 0.94rem;
  background-image: url(../img/p2-btn-sl.png);
}

.question.p7 span {
  margin: 0 .49rem !important;
}

.question .btn-A span,
.question .btn-B span {
  margin: 0 .65rem;
}

.question .btn-A {
  bottom: 4.5rem;
}

.question .btn-B {
  bottom: 3.3rem;
}

.question_in {
  -webkit-animation: 2s question_in linear forwards;
  animation: 2s question_in linear forwards;
}

@-webkit-keyframes question_in {
  0% {
    opacity: 0.5;
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  15% {
    opacity: 1;
    -webkit-transform: translateY(-1.5rem);
    transform: translateY(-1.5rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-1.5rem);
    transform: translateY(-1.5rem);
  }
}

@keyframes question_in {
  0% {
    opacity: 0.5;
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  15% {
    opacity: 1;
    -webkit-transform: translateY(-1.5rem);
    transform: translateY(-1.5rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-1.5rem);
    transform: translateY(-1.5rem);
  }
}

.number {
  width: 0.9rem;
  height: 0.51rem;
  position: absolute;
  top: .3rem;
  left: .6rem;
  z-index: 10;
}

.number.score0 {
  background-size: 100% 100%;
  background-image: url(../img/00.png);
}

.number.score1 {
  background-size: 100% 100%;
  background-image: url(../img/10.png);
}

.number.score2 {
  background-size: 100% 100%;
  background-image: url(../img/20.png);
}

.number.score3 {
  background-size: 100% 100%;
  background-image: url(../img/30.png);
}

.number.score4 {
  background-size: 100% 100%;
  background-image: url(../img/40.png);
}

.number.score5 {
  background-size: 100% 100%;
  background-image: url(../img/50.png);
}

.number.score6 {
  background-size: 100% 100%;
  background-image: url(../img/60.png);
}

.number.score7 {
  background-size: 100% 100%;
  background-image: url(../img/70.png);
}

.number.score8 {
  background-size: 100% 100%;
  background-image: url(../img/80.png);
}

.number.score9 {
  background-size: 100% 100%;
  background-image: url(../img/90.png);
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: .9;
  z-index: 10;
  display: none;
}

.sharebox {
  width: 4.13rem;
  height: 5.01rem;
  background-size: 100% 100%;
  background-image: url(../img/share-tips.png);
  position: fixed;
  z-index: 17;
  top: 0;
  right: 0;
  display: none;
}

#wrong,
#right {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: none;
  z-index: 12;
}

#wrong {
  width: 2.7rem;
  height: 2.91rem;
}

#right {
  width: 2.72rem;
  height: 2.79rem;
}

.tap {
  top: 0;
  right: 0;
  bottom: 0rem;
  left: 0rem;
  position: absolute;
  z-index: 10;
  display: none;
}

#imgArr {
  display: none;
}

.anwser-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 14;
  display: none;
}

.anwser-box {
  width: 100%;
  background-color: #FFC99A;
  border-top: 1px solid transparent;
  padding-bottom: .7rem;
}

.anwser-box div,
.anwser-box a {
  margin: 0 auto;
  background-size: 100% 100%;
}

.anwser-box .anwser1 {
  width: 6.88rem;
  height: 11.62rem;
  background-image: url(../img/p4-1.png);
  margin-top: .1rem;
}

.anwser-box .anwser2 {
  width: 6.88rem;
  height: 10.26rem;
  background-image: url(../img/p4-2.png);
  margin-top: -.6rem;
}

.anwser-box .anwser3 {
  width: 6.88rem;
  height: 6.5rem;
  background-image: url(../img/p4-3.png);
  margin-top: .4rem;
}

.anwser-box .knowMore {
  width: 3.24rem;
  height: .61rem;
  display: block;
  background-image: url(../img/p4-4.png);
  margin-top: -1rem;
}

.anwser-box .back-btn {
  width: 1.01rem;
  height: .53rem;
  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  top: .3rem;
  left: .2rem; */
  display: block;
  background-image: url(../img/back-btn.png);
  background-size: 100% 100%;
  margin: .5rem 0 0 .4rem;
}

/* 思源黑体 */

@font-face {
  font-family: "SourceHanSansCN-Regular";
  src: url("../font/SourceHanSansCN-Regular.woff2") format("woff2"), url("../font/SourceHanSansCN-Regular.woff") format("woff"), url("../font/SourceHanSansCN-Regular.ttf") format("truetype"), url("../font/SourceHanSansCN-Regular.eot") format("embedded-opentype"), url("../font/SourceHanSansCN-Regular.svg") format("svg");
}