 * {
     margin: 0;
     padding: 0;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     border: none;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }

 html {
     font-size: calc(100vw/7.5);
     height: 100%;
     width: 100%;
     overflow: hidden;
 }

 body {
     font-family: 'PingFang_Medium';
     font-size: 0.3rem;
     position: relative;
     width: 100%;
     height: 100%;
     overflow: hidden;
 }

 @media only screen and (min-width: 750px) {
     body {
         width: 750px;
         margin: 0 auto;
     }
 }

 .chess {
     width: 1.45rem;
     height: 1.58rem;
     background-size: 1.45rem 1.58rem;
     background-image: url('../img/sannuo.png');
     position: absolute;
     bottom: 2.8rem;
     left: 4.8rem;
     z-index: 9999;
     -webkit-transform-origin: bottom center;
     transform-origin: bottom center;
 }


 .background {
     width: 100%;
     height: 30rem;
     background-image: url('../img/bg.png');
     background-size: 100% 100%;
     position: absolute;
     bottom: 0;
     left: 0;
 }

 .group {
     position: absolute;
     width: 3rem;
     height: 3rem;
     -webkit-transform-origin: bottom center;
     transform-origin: bottom center;
 }

 .group .box {
     background-position: center center;
     background-repeat: no-repeat;
     width: 3rem;
     height: 3rem;
     z-index: 999;
     position: absolute;
     -webkit-transform: translateY(-10.5rem);
     transform: translateY(-10.5rem);
     -webkit-transform-origin: bottom center;
     transform-origin: bottom center;
 }

 .g1 {
     left: 4rem;
     bottom: 1rem;
 }

 .g1 .box {
     background-image: url('../img/c1.png');
     background-size: 2.73rem 1.97rem;
     -webkit-transform: translateY(0);
     transform: translateY(0);
 }
 .g2 {
     left: 1rem;
     bottom: 3rem;
 }

 .g2 .box {
     background-image: url('../img/c2.png');
     background-size: 3.28rem 2.34rem;
     -webkit-transform: translateY(0);
     transform: translateY(0);
 }

 .g3 {
     left: 4rem;
     bottom: 5rem;
 }

 .g3 .box {
     background-image: url('../img/c3.png');
     background-size: 2.8rem 2.07rem;
 }

 .g4 {
     left: 1rem;
     bottom: 7rem;
 }

 .g4 .box {
     background-image: url('../img/c4.png');
     background-size: 3.35rem 2.06rem;
 }

 .g5 {
     left: 4rem;
     bottom: 9rem;
 }

 .g5 .box {
     background-image: url('../img/c5.png');
     background-size: 3.72rem 2.39rem;
 }
 .g6 {
     left: 1rem;
     bottom: 11rem;
 }

 .g6 .box {
     background-image: url('../img/c6.png');
     background-size: 2.81rem 2.08rem;
 }

 .g7 {
     left: 4rem;
     bottom: 13rem;
 }

 .g7 .box {
     background-image: url('../img/c7.png');
     background-size: 3.31rem 2.35rem;
 }

 .g8 {
     left: 1rem;
     bottom: 15rem;
 }

 .g8 .box {
     background-image: url('../img/c8.png');
     background-size: 2.81rem 2.09rem;
 }

 .g9 {
  left: 4rem;
  bottom: 17rem;
}

.g9 .box {
  background-image: url('../img/c9.png');
  background-size: 2.79rem 2.07rem;
}

 .box_in {
     -webkit-animation: box_in .8s linear forwards;
     animation: box_in .8s linear forwards;
 }

 .shadow_in {
     -webkit-animation: shadow_in .8s linear forwards;
     animation: shadow_in .8s linear forwards;
 }

 @-webkit-keyframes box_in {
     0% {
         -webkit-transform: translateY(-10.5rem);
         transform: translateY(-10.5rem);
     }
     10% {
         -webkit-transform: translateY(-10rem);
         transform: translateY(-10rem);
     }
     20% {
         -webkit-transform: translateY(-9rem);
         transform: translateY(-9rem);
     }
     30% {
         -webkit-transform: translateY(-7.5rem);
         transform: translateY(-7.5rem);
     }
     40% {
         -webkit-transform: translateY(-5.5rem);
         transform: translateY(-5.5rem);
     }
     50% {
         -webkit-transform: translateY(-3rem);
         transform: translateY(-3rem);
     }
     60% {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
     }
     70% {
         -webkit-transform: translateY(-.8rem);
         transform: translateY(-.8rem);
     }
     80% {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
     }
     90% {
         -webkit-transform: translateY(-.3rem);
         transform: translateY(-.3rem);
     }
     to {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
     }
 }

 @keyframes box_in {
     0% {
         -webkit-transform: translateY(-10.5rem);
         transform: translateY(-10.5rem);
     }
     10% {
         -webkit-transform: translateY(-10rem);
         transform: translateY(-10rem);
     }
     20% {
         -webkit-transform: translateY(-9rem);
         transform: translateY(-9rem);
     }
     30% {
         -webkit-transform: translateY(-7.5rem);
         transform: translateY(-7.5rem);
     }
     40% {
         -webkit-transform: translateY(-5.5rem);
         transform: translateY(-5.5rem);
     }
     50% {
         -webkit-transform: translateY(-3rem);
         transform: translateY(-3rem);
     }
     60% {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
     }
     70% {
         -webkit-transform: translateY(-.8rem);
         transform: translateY(-.8rem);
     }
     80% {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
     }
     90% {
         -webkit-transform: translateY(-.3rem);
         transform: translateY(-.3rem);
     }
     to {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
     }
 }


 .ring {
     width: 3.77rem;
     height: 1.75rem;
     background-image: url('../img/ring.png');
     background-size: 100% 100%;
     position: absolute;
     z-index: 9998;
     /*bottom: 2.3rem;
    left: 1.12rem;*/
     bottom: 2.1rem;
     left: .58rem;
     -webkit-transform: scale(0.4);
     transform: scale(0.4);
     opacity: 0;
 }

 .ring_in {
     -webkit-animation: ring_in .5s linear forwards;
     animation: ring_in .5s linear forwards;
 }

 @-webkit-keyframes ring_in {
     0% {
         opacity: 0.8;
         -webkit-transform: scale(0.6);
         transform: scale(0.6);
     }
     50% {
         opacity: 0.4;
         -webkit-transform: scale(0.8);
         transform: scale(0.8);
     }
     to {
         opacity: 0;
         -webkit-transform: scale(1);
         transform: scale(1);
     }
 }

 @keyframes ring_in {
     0% {
         opacity: 0.8;
         -webkit-transform: scale(0.6);
         transform: scale(0.6);
     }
     50% {
         opacity: 0.4;
         -webkit-transform: scale(0.8);
         transform: scale(0.8);
     }
     to {
         opacity: 0;
         -webkit-transform: scale(1);
         transform: scale(1);
     }
 }

 .score-box{
   width:6.22rem;
   background-size: 100% 100%;
   position: fixed;
   left:50%;
   top:50%;
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
   z-index: 999999999;
 }
 .score-box.gif1{
   height:9.06rem;
   background-image:url('../img/1gif.png');
 }
 .score-box.gif2{
   height:8.8rem;
   background-image:url('../img/2gif.png');
 }
 .score-box.gif3{
   height:8.8rem;
   background-image:url('../img/3gif.png');
 }
 .score-box .scoreCon {
   width:3.64rem;
   height:1.74rem;
   background-size: 100% 100%;
   position: absolute;
   left:50%;
   top:50%;
   -webkit-transform: translateX(-50%) translateY(-100%);
   transform: translateX(-50%) translateY(-100%);

 }
 .score-box .p0{
   background-image:url('../img/00p.png');
 }
 .score-box .p1{
   background-image:url('../img/10p.png');
 }
 .score-box .p2{
   background-image:url('../img/20p.png');
 }
 .score-box .p3{
   background-image:url('../img/30p.png');
 }
 .score-box .p4{
   background-image:url('../img/40p.png');
 }
 .score-box .p5{
   background-image:url('../img/50p.png');
 }
 .score-box .p6{
   background-image:url('../img/60p.png');
 }
 .score-box .p7{
   background-image:url('../img/70p.png');
 }
 .score-box .p8{
   background-image:url('../img/80p.png');
 }
 .score-box .p9{
   background-image:url('../img/90p.png');
 }
 .score-box .btn{
   width:2.72rem;
   height:1.18rem;
   background-size: 100% 100%;
   position: absolute;
   bottom:-0.59rem;
 }
 .score-box .again-btn{
   left:0.2rem;
   background-image:url('../img/again.png');
 }
 .score-box .share-btn{
   right:0.2rem;
   background-image:url('../img/share.png');
 }
 .title {
     width: 5.69rem;
     height: .48rem;
     background-image: url('../img/title.png');
     background-size: cover;
     position: absolute;
     top: 1.64rem;
     left: .9rem;
 }


 .share {
     top: 9.54rem;
     left: 2rem;
     width: 3.54rem;
     height: 1.08rem;
     background-image: url('../img/share.png');
     background-size: cover;
     position: absolute;
     opacity: 0;
     -webkit-transform: translateY(1rem);
     transform: translateY(1rem);
     -webkit-transition-delay: 2.5s;
     transition-delay: 2.5s;
     -webkit-transition-duration: .5s;
     transition-duration: .5s;
 }

 .share_in {
     opacity: 1;
     -webkit-transform: translateY(0);
     transform: translateY(0);
 }


 .btn_in {
     opacity: 1;
 }


 .point {
     border-radius: 50%;
     border: none;
     /*//  background-color: #b6ff00;*/
     position: absolute;
 }

 .detail {
     top: 0;
     right: -.02rem;
     bottom: -.02rem;
     left: 0;
     background-image: url('../img/blur_bg.png');
     background-repeat: repeat;
     z-index: 10000000;
     position: absolute;
 }






 .pointer_title {
     width: 2rem;
     bottom: 0;
     left: 0;
     position: absolute;
     height: .6rem;
     color: #fff;
     font-size: .3rem;
     line-height: .6rem;
     text-align: center;
     font-weight: 200;
 }

 @-webkit-keyframes point_shine {
     0% {
         opacity: .1;
     }
     50% {
         opacity: 0.4;
     }
     to {
         opacity: .1;
     }
 }

 @keyframes point_shine {
     0% {
         opacity: .1;
     }
     50% {
         opacity: 0.4;
     }
     to {
         opacity: .1;
     }
 }

 @-webkit-keyframes r_roll {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     50% {
         -webkit-transform: rotate(180deg);
         transform: rotate(180deg);
     }
     to {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }

 @keyframes r_roll {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     50% {
         -webkit-transform: rotate(180deg);
         transform: rotate(180deg);
     }
     to {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }

 @-webkit-keyframes r_roll2 {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     50% {
         -webkit-transform: rotate(-180deg);
         transform: rotate(-180deg);
     }
     to {
         -webkit-transform: rotate(-360deg);
         transform: rotate(-360deg);
     }
 }

 @keyframes r_roll2 {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     50% {
         -webkit-transform: rotate(-180deg);
         transform: rotate(-180deg);
     }
     to {
         -webkit-transform: rotate(-360deg);
         transform: rotate(-360deg);
     }
 }


 .border h3 {
     color: #ff8c00;
     font-size: .3rem;
     font-weight: 500;
     line-height: 1rem;
     min-height: 1rem;
 }

 .border p {
     color: #fff;
     font-size: .3rem;
     font-weight: 200;
 }

 .cover {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 20000000;
     background-image: url('../img/bg.jpg');
     background-size: 100% auto;
     background-repeat: repeat-x;
 }

 .cover .coverbox {
     width: 6.8rem;
     height: 5.06rem;
     background-image: url('../img/coverbox.png');
     background-size: cover;
     position: absolute;
     top: 3.08rem;
     right: 0;
 }

 .cover .covertitle {
     width: 5.37rem;
     height: 1.13rem;
     background-image: url('../img/covertitle.png');
     background-size: cover;
     position: absolute;
     top: 1.28rem;
     left: 1.12rem;
 }

 .cover .start {
     width: 3.49rem;
     height: 1rem;
     background-image: url('../img/start.png');
     background-size: cover;
     position: absolute;
     bottom: 2rem;
     left: 1.98rem;
     display: none;
 }

 .cover .coverblur {
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     position: absolute;
     background-color: #000;
     opacity: .25;
 }

 .detail2 .r_line1 {
     width: 1.32rem;
     height: 1.3rem;
     top: 2.4rem;
     left: 2.58rem;
     -webkit-animation: line_shine 2s linear infinite;
     animation: line_shine 2s linear infinite;
 }

 .detail2 .r_line2 {
     width: 2.06rem;
     height: 2.02rem;
     top: 2.06rem;
     left: 2.22rem;
     -webkit-animation: line_shine 2s linear 0.2s infinite;
     animation: line_shine 2s linear 0.2s infinite;
 }

 .detail2 .r_line3 {
     width: 2.88rem;
     height: 2.82rem;
     top: 1.62rem;
     left: 1.82rem;
     -webkit-animation: line_shine 2s linear 0.4s infinite;
     animation: line_shine 2s linear 0.4s infinite;
 }

 .detail2 .r_line4 {
     width: 3.6rem;
     height: 3.52rem;
     top: 1.26rem;
     left: 1.42rem;
     -webkit-animation: line_shine 2s linear 0.6s infinite;
     animation: line_shine 2s linear 0.6s infinite;
 }

 @-webkit-keyframes line_shine {
     0% {
         opacity: 0.2;
     }
     30% {
         opacity: 0.4;
     }
     50% {
         opacity: 1;
     }
     70% {
         opacity: 0.4;
     }
     to {
         opacity: 0.2;
     }
 }

 @keyframes line_shine {
     0% {
         opacity: 0.2;
     }
     30% {
         opacity: 0.4;
     }
     50% {
         opacity: 1;
     }
     70% {
         opacity: 0.4;
     }
     to {
         opacity: 0.2;
     }
 }

 .k8 {
     top: 3.4rem;
     left: 0.1rem;
 }

 .k9 {
     top: 1.5rem;
     left: 0.5rem;
 }

 .k10 {
     top: 0.7rem;
     left: 2.26rem;
 }

 .k11 {
     top: 1.5rem;
     left: 4rem;
 }

 .k12 {
     top: 3.36rem;
     left: 4.42rem;
 }

 .k13 {
     top: 4.9rem;
     left: 3.2rem;
 }

 .k14 {
     top: 4.9rem;
     left: 1.3rem;
 }


 @-webkit-keyframes n_roll {
     0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
     }
     50% {
         -webkit-transform: rotate(180deg);
         transform: rotate(180deg);
     }
     to {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }

 @keyframes n_roll {
     0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
     }
     50% {
         -webkit-transform: rotate(180deg);
         transform: rotate(180deg);
     }
     to {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }

 .k15 {
     top: 2.52rem;
     left: -.3rem;
 }

 .k16 {
     top: 0.8rem;
     left: 1.3rem;
 }

 .k17 {
     top: 0.6rem;
     left: 3.8rem;
 }

 .k18 {
     top: 3.6rem;
     left: 4.6rem;
 }

 .k19 {
     top: 5.6rem;
     left: 3.6rem;
 }

 .k20 {
     top: 5.6rem;
     left: 1.06rem;
 }

 .k21 {
     top: 4.4rem;
     left: .2rem;
 }

 .detailtitle {
     color: #ff8c00;
     font-size: .5rem;
     line-height: .6rem;
     position: absolute;
     left: .1rem;
     top: .1rem;
     font-weight: 200;
 }

 .list2title {
     width: 100%;
     height: 1.4rem;
     font-size: .5rem;
     line-height: 1.4rem;
     color: #ff8c00;
     text-align: center;
     font-weight: 100;
 }

 .tips {
     width: 7.11rem;
     height: 10.05rem;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     /* background-position: bottom center; */
     position: fixed;
     bottom: 0.1rem;
     right:0;
     z-index: 99999999;
     opacity: 1;

     display: block;
 }
 .tips.p1{
    background-image:url(../img/p2-1.png);
 }
 .tips.p2{
  background-image:url(../img/p2-2.png);
}
.tips.p3{
  background-image:url(../img/p2-3.png);
}
.tips.p4{
  background-image:url(../img/p2-4.png);
}
.tips.p5{
background-image:url(../img/p2-5.png);
}
.tips.p6{
background-image:url(../img/p2-6.png);
}
.tips.p7{
  background-image:url(../img/p2-7.png);
}
.tips.p8{
background-image:url(../img/p2-8.png);
}
.tips.p9{
background-image:url(../img/p2-9.png);
}
 .tips .btn{
    display: block;
    width: 3.68rem;
    height:.94rem;
    background-size: 100% 100%;
    background-image:url(../img/p2-btn-lg.png);
    position: absolute;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color:red;
    font-size: 0.4rem;
    /* font-weight: bold; */
    line-height: 0.94rem;
 }
 .tips.p7 .btn{
   width: 2.95rem;
   height:0.94rem;
   background-image:url(../img/p2-btn-sl.png);
 }
 .tips.p7 span{
   margin:0 .49rem!important;
 }
 .tips .btn-A span,.tips .btn-B span{
    margin:0 .65rem;
 }
 .tips .btn-A{
   bottom: 4.5rem;
 }
 .tips .btn-B{
   bottom:3.3rem;
 }
 .tips_in {
     -webkit-animation: 2s tips_in linear forwards;
     animation: 2s tips_in linear forwards;
 }

 @-webkit-keyframes tips_in {
     0% {
         opacity: 0.5;
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
     }
     15% {
         opacity: 1;
         -webkit-transform: translateY(-1.5rem);
         transform: translateY(-1.5rem);
     }
     to {
         opacity: 1;
         -webkit-transform: translateY(-1.5rem);
         transform: translateY(-1.5rem);
     }
 }

 @keyframes tips_in {
     0% {
         opacity: 0.5;
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
     }
     15% {
         opacity: 1;
         -webkit-transform: translateY(-1.5rem);
         transform: translateY(-1.5rem);
     }
     to {
         opacity: 1;
         -webkit-transform: translateY(-1.5rem);
         transform: translateY(-1.5rem);
     }
 }

 .number {
     width: 0.9rem;
     height: 0.51rem;
     position: absolute;
     top: .3rem;
     left: .6rem;
     z-index: 9999;
 }

 .number.score0 {
     background-size: 100% 100%;
     background-image:url(../img/00.png);
 }
 .number.score1 {
   background-size: 100% 100%;
   background-image:url(../img/10.png);
 }
 .number.score2 {
   background-size: 100% 100%;
   background-image:url(../img/20.png);
 }
 .number.score3 {
   background-size: 100% 100%;
   background-image:url(../img/30.png);
 }
 .number.score4 {
   background-size: 100% 100%;
   background-image:url(../img/40.png);
 }
 .number.score5 {
   background-size: 100% 100%;
   background-image:url(../img/50.png);
 }
 .number.score6 {
   background-size: 100% 100%;
   background-image:url(../img/60.png);
 }
 .number.score7 {
   background-size: 100% 100%;
   background-image:url(../img/70.png);
 }
 .number.score8 {
   background-size: 100% 100%;
   background-image:url(../img/80.png);
 }
 .number.score9 {
   background-size: 100% 100%;
   background-image:url(../img/90.png);
 }

 .cover_chess {
     width: 2.76rem;
     height: 3.45rem;
     background-size: 33.12rem 3.45rem;
     background-position: 0rem 0rem;
     background-image: url('../img/e3.png');
     position: absolute;
     bottom: 4.8rem;
     left: 1.22rem;
     z-index: 9999;
     -webkit-transform-origin: bottom center;
     transform-origin: bottom center;
 }

 .sharebox,.mask {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     background-image: url('../img/blur_bg.png');
     background-repeat: repeat;
     z-index: 99999999;
     display: none;
 }
 .mask{
   z-index: 99999998;
   display: block;
 }
 #wrong,#right{
   display: block;
   position: absolute;
   left:50%;
   top:50%;
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
   display: none;
 }
 #wrong{
   width: 2.7rem;
   height: 2.91rem;
 }
 #right{
  width: 2.72rem;
  height: 2.79rem;
 }
 .sharebox img {
     width: 3.21rem;
     height: 2.19rem;
     position: absolute;
     top: 0;
     right: 0;
     display: block;
     position: absolute;
 }


 .tap {
     top: 0;
     right: 0;
     bottom: 0rem;
     left: 0rem;
     position: absolute;
     z-index: 99999;
     display: none;
 }
 #imgArr{
   display: none;
 }
