 * {
     margin: 0;
     padding: 0;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     border: none;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }

 html {
     font-size: calc(100vw/7.5);
     height: 100%;
     width: 100%;
     overflow: hidden;
 }

 body {
     font-family: 'PingFang_Medium';
     font-size: 0.3rem;
     position: relative;
     width: 100%;
     height: 100%;
     overflow: hidden;
 }

 @media only screen and (min-width: 750px) {
     body {
         width: 750px;
         margin: 0 auto;
     }
 }

 .chess {
     width: 2.76rem;
     height: 3.45rem;
     background-size: 33.12rem 3.45rem;
     background-position: 0rem 0rem;
     background-image: url('../img/e3.png');
     position: absolute;
     bottom: 2.3rem;
     left: 1.12rem;
     z-index: 9999;
     -webkit-transform-origin: bottom center;
     transform-origin: bottom center;
 }

 .logo {
     width: 3.23rem;
     height: .62rem;
     background-image: url('../img/logo.png');
     background-size: 100% 100%;
     position: fixed;
     top: .2rem;
     right: .2rem;
     z-index: 10000001;
 }

 .background {
     width: 300%;
     height: 300%;
     background-image: url('../img/bg5.png');
     background-size: 100% 100%;
     position: absolute;
     bottom: 0;
     left: 0;
 }

 .group {
     position: absolute;
     width: 3rem;
     height: 3rem;
     -webkit-transform-origin: bottom center;
     transform-origin: bottom center;
 }

 .group .box {
     background-position: center center;
     background-repeat: no-repeat;
     width: 3rem;
     height: 3rem;
     z-index: 999;
     position: absolute;
     -webkit-transform: translateY(-10.5rem);
     transform: translateY(-10.5rem);
     -webkit-transform-origin: bottom center;
     transform-origin: bottom center;
 }

 .group .shadow {
     width: 3.55rem;
     height: 2.02rem;
     background-image: url('../img/s2.png');
     background-size: 100% 100%;
     top: .78rem;
     left: -.7rem;
     position: absolute;
     z-index: 99;
     opacity: .3;
     -webkit-transform: translateY(-10.5rem) translateX(-10.5rem);
     transform: translateY(-10.5rem) translateX(-10.5rem);
     -webkit-transform-origin: bottom center;
     transform-origin: bottom center;
 }

 .g1 {
     left: 1rem;
     bottom: 1rem;
 }

 .g1 .box {
     background-image: url('../img/c8.png');
     background-size: 2.70rem 2.55rem;
     -webkit-transform: translateY(0);
     transform: translateY(0);
 }

 .g1 .shadow {
     top: .74rem;
     -webkit-transform: translateY(0) translateX(0);
     transform: translateY(0) translateX(0);
 }

 .g2 {
     left: 4rem;
     bottom: 3rem;
 }

 .g2 .box {
     background-image: url('../img/c6.png');
     background-size: 2.39rem 2.37rem;
     -webkit-transform: translateY(0);
     transform: translateY(0);
 }

 .g2 .shadow {
     width: 3.12rem;
     height: 1.77rem;
     top: .9rem;
     left: -.42rem;
     -webkit-transform: translateY(0) translateX(0);
     transform: translateY(0) translateX(0);
 }

 .g3 {
     left: 7rem;
     bottom: 5rem;
 }

 .g3 .box {
     background-image: url('../img/c003.png');
     background-size: 2.89rem 2.48rem;
 }

 .g3 .shadow {
     top: .7rem;
 }

 .g4 {
     left: 4rem;
     bottom: 7rem;
 }

 .g4 .box {
     background-image: url('../img/c5.png');
     background-size: 2.70rem 2.55rem;
 }

 .g5 {
     left: 7rem;
     bottom: 9rem;
 }

 .g5 .box {
     background-image: url('../img/c2.png');
     background-size: 2.8rem 2.6rem;
 }

 .g5 .shadow {}

 .g6 {
     left: 10rem;
     bottom: 11rem;
 }

 .g6 .box {
     background-image: url('../img/c7.png');
     background-size: 2.60rem 2.42rem;
 }

 .g6 .shadow {
     width: 3.05rem;
     height: 1.74rem;
     top: .94rem;
     left: -0.4rem;
 }

 .g7 {
     left: 7rem;
     bottom: 13rem;
 }

 .g7 .box {
     background-image: url('../img/c4.png');
     background-size: 2.88rem 2.65rem;
 }

 .g8 {
     left: 10rem;
     bottom: 15rem;
 }

 .g8 .box {
     background-image: url('../img/c9.png');
     background-size: 2.70rem 2.55rem;
 }

 .g8 .shadow {
     top: .74rem;
 }

 .box_in {
     -webkit-animation: box_in .8s linear forwards;
     animation: box_in .8s linear forwards;
 }

 .shadow_in {
     -webkit-animation: shadow_in .8s linear forwards;
     animation: shadow_in .8s linear forwards;
 }

 @-webkit-keyframes box_in {
     0% {
         -webkit-transform: translateY(-10.5rem);
         transform: translateY(-10.5rem);
     }
     10% {
         -webkit-transform: translateY(-10rem);
         transform: translateY(-10rem);
     }
     20% {
         -webkit-transform: translateY(-9rem);
         transform: translateY(-9rem);
     }
     30% {
         -webkit-transform: translateY(-7.5rem);
         transform: translateY(-7.5rem);
     }
     40% {
         -webkit-transform: translateY(-5.5rem);
         transform: translateY(-5.5rem);
     }
     50% {
         -webkit-transform: translateY(-3rem);
         transform: translateY(-3rem);
     }
     60% {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
     }
     70% {
         -webkit-transform: translateY(-.8rem);
         transform: translateY(-.8rem);
     }
     80% {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
     }
     90% {
         -webkit-transform: translateY(-.3rem);
         transform: translateY(-.3rem);
     }
     to {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
     }
 }

 @keyframes box_in {
     0% {
         -webkit-transform: translateY(-10.5rem);
         transform: translateY(-10.5rem);
     }
     10% {
         -webkit-transform: translateY(-10rem);
         transform: translateY(-10rem);
     }
     20% {
         -webkit-transform: translateY(-9rem);
         transform: translateY(-9rem);
     }
     30% {
         -webkit-transform: translateY(-7.5rem);
         transform: translateY(-7.5rem);
     }
     40% {
         -webkit-transform: translateY(-5.5rem);
         transform: translateY(-5.5rem);
     }
     50% {
         -webkit-transform: translateY(-3rem);
         transform: translateY(-3rem);
     }
     60% {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
     }
     70% {
         -webkit-transform: translateY(-.8rem);
         transform: translateY(-.8rem);
     }
     80% {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
     }
     90% {
         -webkit-transform: translateY(-.3rem);
         transform: translateY(-.3rem);
     }
     to {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
     }
 }

 @-webkit-keyframes shadow_in {
     0% {
         -webkit-transform: translateY(-10.5rem);
         transform: translateY(-10.5rem);
         -webkit-transform: translateX(-10.5rem);
         transform: translateX(-10.5rem);
     }
     10% {
         -webkit-transform: translateY(-10rem);
         transform: translateY(-10rem);
         -webkit-transform: translateX(-10rem);
         transform: translateX(-10rem);
     }
     20% {
         -webkit-transform: translateY(-9rem);
         transform: translateY(-9rem);
         -webkit-transform: translateX(-9rem);
         transform: translateX(-9rem);
     }
     30% {
         -webkit-transform: translateY(-7.5rem);
         transform: translateY(-7.5rem);
         -webkit-transform: translateX(-7.5rem);
         transform: translateX(-7.5rem);
     }
     40% {
         -webkit-transform: translateY(-5.5rem);
         transform: translateY(-5.5rem);
         -webkit-transform: translateX(-5.5rem);
         transform: translateX(-5.5rem);
     }
     50% {
         -webkit-transform: translateY(-3rem);
         transform: translateY(-3rem);
         -webkit-transform: translateX(-3rem);
         transform: translateX(-3rem);
     }
     60% {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
         -webkit-transform: translateX(0rem);
         transform: translateX(0rem);
     }
     70% {
         -webkit-transform: translateY(-.8rem);
         transform: translateY(-.8rem);
         -webkit-transform: translateX(-.8rem);
         transform: translateX(-.8rem);
     }
     80% {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
         -webkit-transform: translateX(0rem);
         transform: translateX(0rem);
     }
     90% {
         -webkit-transform: translateY(-.3rem);
         transform: translateY(-.3rem);
         -webkit-transform: translateX(-.3rem);
         transform: translateX(-.3rem);
     }
     to {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
         -webkit-transform: translateX(0rem);
         transform: translateX(0rem);
     }
 }

 @keyframes shadow_in {
     0% {
         -webkit-transform: translateY(-10.5rem);
         transform: translateY(-10.5rem);
         -webkit-transform: translateX(-10.5rem);
         transform: translateX(-10.5rem);
     }
     10% {
         -webkit-transform: translateY(-10rem);
         transform: translateY(-10rem);
         -webkit-transform: translateX(-10rem);
         transform: translateX(-10rem);
     }
     20% {
         -webkit-transform: translateY(-9rem);
         transform: translateY(-9rem);
         -webkit-transform: translateX(-9rem);
         transform: translateX(-9rem);
     }
     30% {
         -webkit-transform: translateY(-7.5rem);
         transform: translateY(-7.5rem);
         -webkit-transform: translateX(-7.5rem);
         transform: translateX(-7.5rem);
     }
     40% {
         -webkit-transform: translateY(-5.5rem);
         transform: translateY(-5.5rem);
         -webkit-transform: translateX(-5.5rem);
         transform: translateX(-5.5rem);
     }
     50% {
         -webkit-transform: translateY(-3rem);
         transform: translateY(-3rem);
         -webkit-transform: translateX(-3rem);
         transform: translateX(-3rem);
     }
     60% {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
         -webkit-transform: translateX(0rem);
         transform: translateX(0rem);
     }
     70% {
         -webkit-transform: translateY(-.8rem);
         transform: translateY(-.8rem);
         -webkit-transform: translateX(-.8rem);
         transform: translateX(-.8rem);
     }
     80% {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
         -webkit-transform: translateX(0rem);
         transform: translateX(0rem);
     }
     90% {
         -webkit-transform: translateY(-.3rem);
         transform: translateY(-.3rem);
         -webkit-transform: translateX(-.3rem);
         transform: translateX(-.3rem);
     }
     to {
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
         -webkit-transform: translateX(0rem);
         transform: translateX(0rem);
     }
 }

 .ring {
     width: 3.77rem;
     height: 1.75rem;
     background-image: url('../img/ring.png');
     background-size: 100% 100%;
     position: absolute;
     z-index: 9998;
     /*bottom: 2.3rem;
    left: 1.12rem;*/
     bottom: 2.1rem;
     left: .58rem;
     -webkit-transform: scale(0.4);
     transform: scale(0.4);
     opacity: 0;
 }

 .ring_in {
     -webkit-animation: ring_in .5s linear forwards;
     animation: ring_in .5s linear forwards;
 }

 @-webkit-keyframes ring_in {
     0% {
         opacity: 0.8;
         -webkit-transform: scale(0.6);
         transform: scale(0.6);
     }
     50% {
         opacity: 0.4;
         -webkit-transform: scale(0.8);
         transform: scale(0.8);
     }
     to {
         opacity: 0;
         -webkit-transform: scale(1);
         transform: scale(1);
     }
 }

 @keyframes ring_in {
     0% {
         opacity: 0.8;
         -webkit-transform: scale(0.6);
         transform: scale(0.6);
     }
     50% {
         opacity: 0.4;
         -webkit-transform: scale(0.8);
         transform: scale(0.8);
     }
     to {
         opacity: 0;
         -webkit-transform: scale(1);
         transform: scale(1);
     }
 }

 .listBox {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-image: url('../img/blur_bg.png');
     background-repeat: repeat;
     z-index: 10000000;
     /*opacity: 0;*/
     -webkit-transform: translateY(-20rem);
     transform: translateY(-20rem);
     -webkit-transition-delay: 0s;
     transition-delay: 0s;
     -webkit-transition-duration: .5s;
     transition-duration: .5s;
 }

 .listBox_in {
     -webkit-transform: translateY(0rem);
     transform: translateY(0rem);
 }

 .title {
     width: 5.69rem;
     height: .48rem;
     background-image: url('../img/title.png');
     background-size: cover;
     position: absolute;
     top: 1.64rem;
     left: .9rem;
 }

 .listContent {
     width: 6.42rem;
     height: 6.42rem;
     background-image: url('../img/list_bg.png');
     background-size: cover;
     position: absolute;
     top: 2.64rem;
     left: .54rem;
 }

 .listContent li {
     list-style: none;
     float: left;
     width: 2.13rem;
     height: 2.4rem;
     opacity: 0;
     -webkit-transform: scale(0.1);
     transform: scale(0.1);
     /*transition-duration: 0.3s;*/
 }

 .listContent li img {
     height: 1.97rem;
     display: block;
     margin: 0 auto;
     margin-top: .18rem;
 }

 .listContent .list_in {
     /*transform: scale(1);
        opacity: 1;*/
     -webkit-animation-name: list_in;
     animation-name: list_in;
     -webkit-animation-duration: .3s;
     animation-duration: .3s;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
 }

 @-webkit-keyframes list_in {
     0% {
         opacity: 0;
         -webkit-transform: scale(0.1);
         transform: scale(0.1);
     }
     70% {
         opacity: 1;
         -webkit-transform: scale(1.2);
         transform: scale(1.2);
     }
     to {
         opacity: 1;
         -webkit-transform: scale(1);
         transform: scale(1);
     }
 }

 @keyframes list_in {
     0% {
         opacity: 0;
         -webkit-transform: scale(0.1);
         transform: scale(0.1);
     }
     70% {
         opacity: 1;
         -webkit-transform: scale(1.2);
         transform: scale(1.2);
     }
     to {
         opacity: 1;
         -webkit-transform: scale(1);
         transform: scale(1);
     }
 }

 .share {
     top: 9.54rem;
     left: 2rem;
     width: 3.54rem;
     height: 1.08rem;
     background-image: url('../img/share.png');
     background-size: cover;
     position: absolute;
     opacity: 0;
     -webkit-transform: translateY(1rem);
     transform: translateY(1rem);
     -webkit-transition-delay: 2.5s;
     transition-delay: 2.5s;
     -webkit-transition-duration: .5s;
     transition-duration: .5s;
 }

 .share_in {
     opacity: 1;
     -webkit-transform: translateY(0);
     transform: translateY(0);
 }

 .list7,
 .list8 {
     width: 2.6rem;
     height: .83rem;
     position: absolute;
     bottom: .4rem;
     background-image: url('../img/list7.png');
     background-size: cover;
     left: .36rem;
     opacity: 0;
     -webkit-transition-duration: .5s;
     transition-duration: .5s;
     -webkit-transition-delay: 1.8s;
     transition-delay: 1.8s;
 }

 .btn_in {
     opacity: 1;
 }

 .list8 {
     background-image: url('../img/list8.png');
     left: initial;
     right: .36rem;
     -webkit-transition-delay: 2s;
     transition-delay: 2s;
 }

 .point {
     border-radius: 50%;
     border: none;
     /*//  background-color: #b6ff00;*/
     position: absolute;
 }

 .detail {
     top: 0;
     right: -.02rem;
     bottom: -.02rem;
     left: 0;
     background-image: url('../img/blur_bg.png');
     background-repeat: repeat;
     z-index: 10000000;
     position: absolute;
 }

 .detail1,
 .detail2,
 .detail3 {
     position: absolute;
     /*z-index: 100000;*/
     left: .56rem;
     right: .56rem;
     top: 1.2rem;
     height: 9.42rem;
     border-radius: .06rem;
     border: 1px solid #838383;
     background-image: url('../img/blur_bg2.png');
     background-repeat: repeat;
 }

 .detail1 .r1 {
     width: 2.28rem;
     height: 2.28rem;
     background-image: url('../img/r1.png');
     background-size: cover;
     position: absolute;
     -webkit-animation: r_roll 30s linear infinite;
     animation: r_roll 30s linear infinite;
     position: absolute;
     top: 2.3rem;
     left: 50%;
     margin-left: -1.14rem;
 }

 .detail1 .r2 {
     width: 3.77rem;
     height: 3.77rem;
     background-image: url('../img/r2.png');
     background-size: cover;
     position: absolute;
     -webkit-animation: r_roll2 8s linear infinite;
     animation: r_roll2 8s linear infinite;
     position: absolute;
     top: 1.6rem;
     left: 50%;
     margin-left: -1.89rem;
 }

 .detail1 .r3 {
     width: 4.96rem;
     height: 4.96rem;
     background-image: url('../img/r3.png');
     background-size: cover;
     position: absolute;
     -webkit-animation: r_roll 16s linear infinite;
     animation: r_roll 16s linear infinite;
     position: absolute;
     top: .98rem;
     left: 50%;
     margin-left: -2.48rem;
 }

 .border {
     width: 5.9rem;
     height: 2.34rem;
     position: absolute;
     bottom: .26rem;
     left: .24rem;
     background-image: url('../img/border.png');
     background-size: cover;
     padding: 0 .32rem 0 .32rem;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

 .detail1 .k1 {
     top: 2.0rem;
     left: 0.8rem;
 }

 .detail1 .k2 {
     top: 1rem;
     left: 2.2rem;
 }

 .detail1 .k3 {
     top: 1.36rem;
     left: 3.8rem;
 }

 .detail1 .k4 {
     top: 2.98rem;
     left: 3.3rem;
 }

 .detail1 .k5 {
     top: 4.08rem;
     left: 1.4rem;
 }

 .detail1 .k6 {
     top: 5.16rem;
     left: .6rem;
 }

 .detail1 .k7 {
     top: 5rem;
     left: 3.92rem;
 }

 .keyword {
     position: absolute;
     width: 2rem;
     height: 1rem;
 }

 .pointer {
     width: .2rem;
     height: .2rem;
     background-image: url('../img/point.png');
     background-size: cover;
     position: absolute;
     top: 0.1rem;
     left: 0.9rem;
 }

 .pointer_shadow {
     width: .4rem;
     height: .4rem;
     background-image: url('../img/point_shadow.png');
     background-size: cover;
     position: absolute;
     top: 0rem;
     left: 0.8rem;
     -webkit-animation: point_shine linear 3s infinite;
     animation: point_shine linear 3s infinite;
 }

 .pointer_title {
     width: 2rem;
     bottom: 0;
     left: 0;
     position: absolute;
     height: .6rem;
     color: #fff;
     font-size: .3rem;
     line-height: .6rem;
     text-align: center;
     font-weight: 200;
 }

 @-webkit-keyframes point_shine {
     0% {
         opacity: .1;
     }
     50% {
         opacity: 0.4;
     }
     to {
         opacity: .1;
     }
 }

 @keyframes point_shine {
     0% {
         opacity: .1;
     }
     50% {
         opacity: 0.4;
     }
     to {
         opacity: .1;
     }
 }

 @-webkit-keyframes r_roll {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     50% {
         -webkit-transform: rotate(180deg);
         transform: rotate(180deg);
     }
     to {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }

 @keyframes r_roll {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     50% {
         -webkit-transform: rotate(180deg);
         transform: rotate(180deg);
     }
     to {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }

 @-webkit-keyframes r_roll2 {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     50% {
         -webkit-transform: rotate(-180deg);
         transform: rotate(-180deg);
     }
     to {
         -webkit-transform: rotate(-360deg);
         transform: rotate(-360deg);
     }
 }

 @keyframes r_roll2 {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0);
     }
     50% {
         -webkit-transform: rotate(-180deg);
         transform: rotate(-180deg);
     }
     to {
         -webkit-transform: rotate(-360deg);
         transform: rotate(-360deg);
     }
 }

 .close {
     width: .66rem;
     height: .66rem;
     background-image: url('../img/close.png');
     background-size: cover;
     position: absolute;
     top: -.33rem;
     right: -.33rem;
 }

 .border h3 {
     color: #ff8c00;
     font-size: .3rem;
     font-weight: 500;
     line-height: 1rem;
     min-height: 1rem;
 }

 .border p {
     color: #fff;
     font-size: .3rem;
     font-weight: 200;
 }

 .cover {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 20000000;
     background-image: url('../img/bg.jpg');
     background-size: 100% auto;
     background-repeat: repeat-x;
 }

 .cover .coverbox {
     width: 6.8rem;
     height: 5.06rem;
     background-image: url('../img/coverbox.png');
     background-size: cover;
     position: absolute;
     top: 3.08rem;
     right: 0;
 }

 .cover .covertitle {
     width: 5.37rem;
     height: 1.13rem;
     background-image: url('../img/covertitle.png');
     background-size: cover;
     position: absolute;
     top: 1.28rem;
     left: 1.12rem;
 }

 .cover .start {
     width: 3.49rem;
     height: 1rem;
     background-image: url('../img/start.png');
     background-size: cover;
     position: absolute;
     bottom: 2rem;
     left: 1.98rem;
     display: none;
 }

 .cover .product {
     width: 3.86rem;
     height: .29rem;
     background-image: url('../img/product.png');
     background-size: cover;
     position: absolute;
     left: 1.8rem;
     bottom: .68rem;
 }

 .cover .ico {
     width: 1.63rem;
     height: .62rem;
     background-image: url('../img/ico.png');
     background-size: cover;
     position: absolute;
     top: .2rem;
     right: .2rem;
 }

 .cover .coverblur {
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     position: absolute;
     background-color: #000;
     opacity: .25;
 }

 .detail2 .r_bg {
     width: 4.41rem;
     height: 4.31rem;
     background-image: url('../img/r_bg.png');
     background-size: cover;
     position: absolute;
     top: .82rem;
     left: 1.04rem;
 }

 .detail2 .r_line1,
 .detail2 .r_line2,
 .detail2 .r_line3,
 .detail2 .r_line4 {
     background-image: url('../img/r_line2.png');
     background-size: cover;
     position: absolute;
     opacity: 0.2;
 }

 .detail2 .r_line1 {
     width: 1.32rem;
     height: 1.3rem;
     top: 2.4rem;
     left: 2.58rem;
     -webkit-animation: line_shine 2s linear infinite;
     animation: line_shine 2s linear infinite;
 }

 .detail2 .r_line2 {
     width: 2.06rem;
     height: 2.02rem;
     top: 2.06rem;
     left: 2.22rem;
     -webkit-animation: line_shine 2s linear 0.2s infinite;
     animation: line_shine 2s linear 0.2s infinite;
 }

 .detail2 .r_line3 {
     width: 2.88rem;
     height: 2.82rem;
     top: 1.62rem;
     left: 1.82rem;
     -webkit-animation: line_shine 2s linear 0.4s infinite;
     animation: line_shine 2s linear 0.4s infinite;
 }

 .detail2 .r_line4 {
     width: 3.6rem;
     height: 3.52rem;
     top: 1.26rem;
     left: 1.42rem;
     -webkit-animation: line_shine 2s linear 0.6s infinite;
     animation: line_shine 2s linear 0.6s infinite;
 }

 @-webkit-keyframes line_shine {
     0% {
         opacity: 0.2;
     }
     30% {
         opacity: 0.4;
     }
     50% {
         opacity: 1;
     }
     70% {
         opacity: 0.4;
     }
     to {
         opacity: 0.2;
     }
 }

 @keyframes line_shine {
     0% {
         opacity: 0.2;
     }
     30% {
         opacity: 0.4;
     }
     50% {
         opacity: 1;
     }
     70% {
         opacity: 0.4;
     }
     to {
         opacity: 0.2;
     }
 }

 .k8 {
     top: 3.4rem;
     left: 0.1rem;
 }

 .k9 {
     top: 1.5rem;
     left: 0.5rem;
 }

 .k10 {
     top: 0.7rem;
     left: 2.26rem;
 }

 .k11 {
     top: 1.5rem;
     left: 4rem;
 }

 .k12 {
     top: 3.36rem;
     left: 4.42rem;
 }

 .k13 {
     top: 4.9rem;
     left: 3.2rem;
 }

 .k14 {
     top: 4.9rem;
     left: 1.3rem;
 }

 .n_bg {
     width: 3.82rem;
     height: 3.88rem;
     background-image: url('../img/n.png');
     background-size: cover;
     position: absolute;
     top: 1.48rem;
     left: 1.44rem;
     -webkit-animation: 14s n_roll linear infinite;
     animation: 14s n_roll linear infinite;
     opacity: .5;
 }

 .n_line {
     width: 5rem;
     height: 4.98rem;
     background-image: url('../img/nline.png');
     background-size: cover;
     position: absolute;
     top: .82rem;
     left: .66rem;
 }

 @-webkit-keyframes n_roll {
     0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
     }
     50% {
         -webkit-transform: rotate(180deg);
         transform: rotate(180deg);
     }
     to {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }

 @keyframes n_roll {
     0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
     }
     50% {
         -webkit-transform: rotate(180deg);
         transform: rotate(180deg);
     }
     to {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }

 .k15 {
     top: 2.52rem;
     left: -.3rem;
 }

 .k16 {
     top: 0.8rem;
     left: 1.3rem;
 }

 .k17 {
     top: 0.6rem;
     left: 3.8rem;
 }

 .k18 {
     top: 3.6rem;
     left: 4.6rem;
 }

 .k19 {
     top: 5.6rem;
     left: 3.6rem;
 }

 .k20 {
     top: 5.6rem;
     left: 1.06rem;
 }

 .k21 {
     top: 4.4rem;
     left: .2rem;
 }

 .detailtitle {
     color: #ff8c00;
     font-size: .5rem;
     line-height: .6rem;
     position: absolute;
     left: .1rem;
     top: .1rem;
     font-weight: 200;
 }

 .detail4 {
     background-image: url('../img/blur_bg3.png');
     left: .58rem;
     right: .58rem;
     top: 1.2rem;
     border-radius: .03rem;
     border: 1px solid #8a8a8a;
     position: absolute;
     height: 9.4rem;
 }

 .detail4 ul {
     width: 5.8rem;
     height: 7.34rem;
     margin: .26rem;
     margin-top: 0;
     overflow-y: scroll;
     position: relative;
     overflow-x: hidden;
 }

 .detail4 li {
     width: 5.8rem;
     height: .96rem;
     background-image: url('../img/item1.png');
     background-size: cover;
     display: block;
     color: #fff;
     font-size: .3rem;
     line-height: .4rem;
     font-weight: 200;
     padding: 0.08rem 0;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     position: absolute;
     -webkit-animation-duration: 2s;
     animation-duration: 2s;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
     -webkit-animation-timing-function: ease-in-out;
     animation-timing-function: ease-in-out;
     -webkit-transform-origin: bottom center;
     transform-origin: bottom center;
 }

 .detail4 li div {
     float: left;
 }

 .detail4 li:nth-child(1) {
     top: 0;
     -webkit-animation-delay: .5s;
     animation-delay: .5s;
 }

 .detail4 li:nth-child(2) {
     top: 1.3rem;
     -webkit-animation-delay: .6s;
     animation-delay: .6s;
 }

 .detail4 li:nth-child(3) {
     -webkit-animation-delay: .7s;
     animation-delay: .7s;
     top: 2.6rem;
 }

 .detail4 li:nth-child(4) {
     -webkit-animation-delay: .8s;
     animation-delay: .8s;
     top: 4.3rem;
 }

 .detail4 li:nth-child(5) {
     -webkit-animation-delay: .9s;
     animation-delay: .9s;
     top: 5.6rem;
 }

 .detail4 li:nth-child(6) {
     -webkit-animation-delay: 1s;
     animation-delay: 1s;
     top: 6.9rem;
 }

 .detail4 li:nth-child(7) {
     -webkit-animation-delay: 1.1s;
     animation-delay: 1.1s;
     top: 8.2rem;
 }

 .detail4 li:nth-child(8) {
     -webkit-animation-delay: 1.2s;
     animation-delay: 1.2s;
     top: 9.5rem;
 }

 .detail4 li:nth-child(9) {
     -webkit-animation-delay: 1.3s;
     animation-delay: 1.3s;
     top: 10.8rem;
 }

 .detail4 li:nth-child(10) {
     -webkit-animation-delay: 1.4s;
     animation-delay: 1.4s;
     top: 12.1rem;
 }

 .detail4 li div:nth-child(1) {
     width: .84rem;
     height: 100%;
     color: #ff8c00;
     font-size: .36rem;
     line-height: .8rem;
     text-align: center;
 }

 .detail4 li div:nth-child(2) {
     width: 4.94rem;
     height: 100%;
 }

 .detail4 .big {
     height: 1.36rem;
     background-image: url('../img/item2.png');
 }

 .list2title {
     width: 100%;
     height: 1.4rem;
     font-size: .5rem;
     line-height: 1.4rem;
     color: #ff8c00;
     text-align: center;
     font-weight: 100;
 }

 .detail4[data-list='8'] li {
     line-height: .8rem;
 }

 .detail4[data-list='8'] li:nth-child(4) {
     top: 3.9rem;
 }

 .detail4[data-list='8'] li:nth-child(5) {
     top: 5.2rem;
 }

 .detail4[data-list='8'] li:nth-child(6) {
     top: 6.5rem;
 }

 .detail4[data-list='8'] li:nth-child(7) {
     top: 7.8rem;
 }

 .detail4[data-list='8'] li:nth-child(8) {
     top: 9.1rem;
 }

 .detail4[data-list='8'] li:nth-child(9) {
     top: 10.4rem;
 }

 .detail4 li:nth-child(2n+1) {
     -webkit-transform: translateX(-6rem) rotate3d(1, 0, 0, 89deg);
     transform: translateX(-6rem) rotate3d(1, 0, 0, 89deg);
 }

 .detail4 li:nth-child(2n) {
     -webkit-transform: translateX(6rem) rotate3d(1, 0, 0, 89deg);
     transform: translateX(6rem) rotate3d(1, 0, 0, 89deg);
 }

 .detail4 .li_in {
     -webkit-animation-name: detail4_li_in;
     animation-name: detail4_li_in;
 }

 @-webkit-keyframes detail4_li_in {
     0% {}
     50% {
         -webkit-transform: translateX(0) rotate3d(1, 0, 0, 89.9deg);
         transform: translateX(0) rotate3d(1, 0, 0, 89.9deg);
     }
     to {
         -webkit-transform: translateX(0) rotate3d(1, 0, 0, 0deg);
         transform: translateX(0) rotate3d(1, 0, 0, 0deg);
     }
 }

 @keyframes detail4_li_in {
     0% {}
     50% {
         -webkit-transform: translateX(0) rotate3d(1, 0, 0, 89.9deg);
         transform: translateX(0) rotate3d(1, 0, 0, 89.9deg);
     }
     to {
         -webkit-transform: translateX(0) rotate3d(1, 0, 0, 0deg);
         transform: translateX(0) rotate3d(1, 0, 0, 0deg);
     }
 }

 .tips {
     width: 4rem;
     height: 1.2rem;
     line-height: .4rem;
     font-size: .28rem;
     text-align: center;
     /*background-image: url('../img/ang.png');*/
     background-size: .22rem .19rem;
     background-repeat: no-repeat;
     background-position: bottom center;
     color: #545454;
     margin-left: -.5rem;
     margin-top: 1.5rem;
     opacity: 0;
 }

 .tips_in {
     -webkit-animation: 2s tips_in linear forwards;
     animation: 2s tips_in linear forwards;
 }

 @-webkit-keyframes tips_in {
     0% {
         opacity: 0.5;
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
     }
     15% {
         opacity: 1;
         -webkit-transform: translateY(-1.5rem);
         transform: translateY(-1.5rem);
     }
     to {
         opacity: 1;
         -webkit-transform: translateY(-1.5rem);
         transform: translateY(-1.5rem);
     }
 }

 @keyframes tips_in {
     0% {
         opacity: 0.5;
         -webkit-transform: translateY(0rem);
         transform: translateY(0rem);
     }
     15% {
         opacity: 1;
         -webkit-transform: translateY(-1.5rem);
         transform: translateY(-1.5rem);
     }
     to {
         opacity: 1;
         -webkit-transform: translateY(-1.5rem);
         transform: translateY(-1.5rem);
     }
 }

 .number {
     width: 1rem;
     height: 1rem;
     position: absolute;
     top: .4rem;
     left: .4rem;
     z-index: 9999;
 }

 .number img {
     width: 100%;
 }

 .cover_chess {
     width: 2.76rem;
     height: 3.45rem;
     background-size: 33.12rem 3.45rem;
     background-position: 0rem 0rem;
     background-image: url('../img/e3.png');
     position: absolute;
     bottom: 4.8rem;
     left: 1.22rem;
     z-index: 9999;
     -webkit-transform-origin: bottom center;
     transform-origin: bottom center;
 }

 .sharebox {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     background-image: url('../img/blur_bg.png');
     background-repeat: repeat;
     z-index: 99999999;
     display: none;
 }

 .sharebox img {
     width: 3.21rem;
     height: 2.19rem;
     position: absolute;
     top: 0;
     right: 0;
     display: block;
     position: absolute;
 }

 .restart,
 .restart2 {
     width: 1rem;
     height: 1rem;
     background-image: url('../img/restart.png');
     background-size: .26rem .2rem;
     background-position: center center;
     position: fixed;
     z-index: 999999;
     background-repeat: no-repeat;
     bottom: 0;
     opacity: .6;
     left: 0;
 }

 .restart2 {
     background-image: url('../img/restart2.png');
 }

 .tap {
     top: 0;
     right: 0;
     bottom: 0rem;
     left: 0rem;
     position: absolute;
     z-index: 99999;
     display: none;
 }